<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <label for="username">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </label>
      <label for="password">
        <input type="password" name="password" id="password" />
      </label>
      <label for="password2">
        <input type="password" name="password2" id="password2" />
      </label>
      <button type="submit">가입하기</button>
    </form>
    <script>
      const form = document.querySelctor("form");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const username = form.querySelector("#username");
        const password = form.querySelector("#password");
        const password2 = form.querySelector("#password2");
        if (password === password2) {
          const response = await fetch("/join", {
            method: "POST",
            headers: {
              "Content-type": "application/json",
            },
            body: JSON.stringify({
              username,
              password,
            }),
          });
          console.log(response);
        } else {
          window.location.reload();
        }
      });
    </script>
  </body>
</html>
